model_config_list: {
  config {
    name: "model_0"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/113-59-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_1"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/72402-53-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_2"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/25523-97-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_3"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/99-96-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_4"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/95-25-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_5"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/110871-86-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_6"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/94-20-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_7"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/4394-00-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_8"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/768-94-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_9"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/83-44-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_10"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/530-78-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_11"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/10540-29-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_12"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/94-24-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_13"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/93106-60-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_14"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/51481-61-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_15"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/70458-96-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_16"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/465-65-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_17"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/738-70-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_18"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/51-55-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_19"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/72-14-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_20"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/98106-17-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_21"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/389-08-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_22"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/103-90-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_23"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/36322-90-4/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_24"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/86-42-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_25"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/98079-51-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_26"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/446-86-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_27"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/29679-58-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_28"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/88-99-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_29"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/79-57-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_30"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/144-80-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_31"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/4238-71-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_32"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/15307-86-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_33"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/61-54-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_34"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/56-29-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_35"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/66-71-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_36"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/29094-61-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_37"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/50-48-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_38"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/90-15-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_39"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/59-46-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_40"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/525-66-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_41"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/22204-53-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_42"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/50-53-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_43"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/364-98-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_44"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/85721-33-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_45"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/153-61-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_46"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/364-62-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_47"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/14611-51-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_48"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/57-68-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_49"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/89-83-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_50"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/59-66-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_51"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/57-41-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_52"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/13523-86-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_53"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/26171-23-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_54"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/443-48-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_55"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/22916-47-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_56"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/15687-27-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_57"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/50-33-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_58"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/112398-08-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_59"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/65-85-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_60"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/72-69-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_61"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/50-06-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_62"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/61-68-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_63"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/10262-69-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_64"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/133-67-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_65"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/137732-39-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_66"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/58-74-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_67"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/42835-25-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_68"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/67-20-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_69"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/50-47-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_70"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/94-78-0/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_71"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/82419-36-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_72"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/53179-11-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_73"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/81-81-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_74"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/38194-50-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_75"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/53716-49-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_76"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/66357-35-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_77"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/599-79-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_78"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/569-65-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_79"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/60-54-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_80"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/129722-12-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_81"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/52-53-9/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_82"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/135-09-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_83"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/76824-35-6/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_84"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/73-40-5/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_85"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/38396-39-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_86"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/42399-41-7/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_87"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/5104-49-4/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_88"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/58-73-1/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_89"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/79617-96-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_90"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/13655-52-2/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_91"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/72956-09-3/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_92"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/98105-99-8/"
    model_platform: "tensorflow"
  }
  config {
    name: "model_93"
    base_path: "/models/LOO_G8D1W1Hd0Hw0_GKANTrueWKANFalseHKANFalseL2H0.08L2W0.08_batch8_lr0.0001/739-71-9/"
    model_platform: "tensorflow"
  }
}